@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Work Sans", sans-serif;
}




/* shared css */

.container{
    max-width: 1440px;
    margin: 0 auto;
}



.d-flex{
    display: flex;
}

.justify-content-b{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.color-orange{
    background-color: #FF900E;
}


.btn-primary{
    padding: 20px 25px;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.25rem;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all .5s;
    cursor: pointer;
}

.btn-primary:hover{
    background: #fff;
    color: #FF900E;

}



/* main css  */



/* header area  */

.header-area{
    background-color: rgba(255, 144, 14, 0.1);
}


.top-bar{
    padding-top: 50px;
}

.logo h2{
    font-size: 2.81rem;
    text-transform: capitalize;
    color: #131313;

}

.main-menu ul li{
    list-style: none;
    margin-right: 40px;
}

.main-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #424242;
}


.banner-section{
    margin-top: 100px;
    padding-bottom: 50px;
}
.banner-content{
    margin-bottom: 30px;
}


.banner-t-des{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-t-des h2{
    font-size: 4rem;
    text-transform: capitalize;
    color: #131313;
}

.banner-t-des p{
    color: #727272;
    line-height: 26px;
    margin: 30px 0;
}

.banner-image img{
    width: 100%;
    vertical-align: middle;
}













/* mobile device */

@media screen and (max-width:576px){
    .top-bar,
    .main-menu ul{
        flex-direction: column;
    }

    .main-menu li{
        margin-bottom: 10px;
    }

}



/* for tablet device */


@media screen and (min-width: 576px) and (max-width: 992px) {
    .top-bar,
    .main-menu ul{
        flex-direction: column;
    }
    .main-menu li{
        margin-bottom: 10px;
    }
}











