@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Work Sans", sans-serif;
}




/* shared css */

.container{
    max-width: 1440px;
    margin: 0 auto;
}



.d-flex{
    display: flex;
}

.justify-content-b{
    justify-content: space-between;
}

.justify-content-a{
    justify-content: space-around;
}

.align-items{
    align-items: center;
}

.color-orange{
    color: #FF900E;
}
.b-color-orange{
    background-color: #FF900E;
}

.btn-primary{
    padding: 20px 25px;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.25rem;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all .5s;
    cursor: pointer;
}

.btn-primary:hover{
    background: #fff;
    color: #FF900E;

}

.quick-list{
    color: #727272;
    font-weight: 500;
}



/* main css  */



/* header area  */

.header-area{
    background-color: rgba(255, 144, 14, 0.1);
}


.top-bar{
    padding-top: 50px;
}

.logo h2{
    font-size: 2.81rem;
    text-transform: capitalize;
    color: #131313;

}

.main-menu ul li{
    list-style: none;
    margin-right: 40px;
}

.main-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #424242;
}


.banner-section{
    margin-top: 100px;
    padding-bottom: 50px;
}
.banner-content{
    margin-bottom: 30px;
}


.banner-t-des{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-t-des h2{
    font-size: 4rem;
    text-transform: capitalize;
    color: #131313;
}

.banner-t-des p{
    color: #727272;
    line-height: 26px;
    margin: 30px 0;
}

.banner-image img{
    width: 100%;
    vertical-align: middle;
}




/* team section css */


.team-section{
    padding-top: 85px;
    padding-bottom: 130px;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.team-img img{
    width: 100%;
}

.team-content{
    max-width: 537px;
}

.section-title h3{
    font-size: 2.81rem;
    text-transform: capitalize;
}

.section-des p{
    color: #727272;
    line-height: 26px;
    margin: 20px 0;
}



/* feature section  */

.feature-section{
    gap: 140px;
}

.b-left{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}


.feature-card{
    margin-top: 30px;
}

.feature-card .card{
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.feature-card .card h4{
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-card .card p{
    color: #727272;
    line-height: 26px;
}



.feature-image .big-btn{
    padding: 45px 40px;
    color: #fff;
}

.feature-image .big-btn{
    border: 1px solid #FF900E;
    transition: all .5s;
    margin-top: -100px;
    margin-left: -100px;
}



.feature-image .big-btn span:first-child{
    font-size: 4.06rem;
    font-weight: bold;
    display: block;
    text-transform: capitalize;
}
.feature-image .big-btn span:last-child{
    font-size: 1.56rem;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
}










/* mobile device */

@media screen and (max-width:576px){
    .top-bar,
    .main-menu ul,
    .team-section,
    .feature-section{
        flex-direction: column;
    }

    .main-menu li{
        margin-bottom: 10px;
    }

    .team-image{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content{
        margin-top: 20px;
    }
    .feature-image img{
        width: 100%;
    }
    .feature-image .big-btn{
        margin: 0 auto;
    }
}



/* for tablet device */


@media screen and (min-width: 576px) and (max-width: 992px) {
    .top-bar,
    .main-menu ul,
    .team-section,
    .feature-section{
        flex-direction: column;
    }
    .main-menu li{
        margin-bottom: 10px;
    }
    .team-image{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content{
        margin-top: 20px;
    }

    .feature-image img{
        width: 100%;
    }
    .feature-image .big-btn{
        margin: 0 auto;
    }
}











